.button-add{
    height: 48px;
    min-width: 82px;
    width: 100%;
    border-radius: 4px;
    color: #146eb4;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    display: inline-block;
    position: relative;
    border: 1px solid hsl(206, 80%, 39%)!important;

}

.cartButton{
 background-color:  hsl(206, 80%, 39%)!important;
 color: white;
 font-size: 16;

}
 
