.productContainer {
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 600px;
    border-width: 1px;
    border-color: #e6e6e6;
}

.productInfo {
    gap: 30px;
    border-color: red;
    border-width: 0;
    display: flex;
    flex: 1;
    margin-top: 40px;
    justify-content:'center';
    align-items: 'center';
}
.productDetailedInfo {
    width: 100%;
    height: 564px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
 

@media (max-width: 1024px) {

    .productDetailedInfo {
        justify-content: flex-start;
         
      }
      
  }