@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --active-bar-color: #146eb4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
.text1 {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  font-family: 'GalanoGrotesque', sans-serif;

}

.text2 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  font-family: 'GalanoGrotesque', sans-serif;

}

.text3 {
  color: #636363;
  font-size: 14px;
  font-weight:400;
  font-family: 'GalanoGrotesque', sans-serif;
}
 

body{
  width: 100%;
  height: 100%;
  
}

.container{
  width: 100%;
  padding: 0 90px;
  max-width: 1440px;
  
}
.containerBorderBottom{
  border-bottom: 1px solid #e6e6e6;
 
  
} 

.active-bar:after {
  content: "";
  height: 3.5px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: var(--active-bar-color);
}
 
 
.productCardContainer {
  max-width: calc(33.3333% - 24px);
  border: 1px solid rgb(212, 203, 203);
  border-radius: 8px;
  flex: 1 0 calc(33.3333% - 24px);
  margin: 12px;
  position: relative;
  display: flex;
  padding: 16px;
}
 .productContainer{
  display: flex;
  flex-wrap: wrap;
 }

.productItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1
}

.stickyCategory{
  position: sticky;
  top: 70px;
  background-color: white;
  z-index: 100;
}
.stickyHeader{
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
}
.SProductSectionHeader {
  top: 120px;
  width: 100%;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 0px solid rgb(242, 242, 242);
  position: sticky;
  background-color: white;
}
.productDetailWrapper{
  width: calc(100%);
  height: 564px;
   
}
.productDetailWrapperCard{
  display: flex;

}
/* In your stylesheet or inline styles */
@media (max-width: 1024px) {
  .productDetailWrapperCard{
    flex-direction:column;
  }
  .productDetailWrapper{
    height: 450px;
    border: none;
  }
  .hide-mobile {
    display: none;
  }
  .productItem{
    justify-content: center;
  }
  .productCardContainer {
    max-width: 100%;
    width: 100%;
    min-width: unset;
    border: none;
    border-radius: 0;
    margin: 0;
     padding:0px;
    flex: 1;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 16px;
    padding-top: 16px;

  }
  .productContainer{
    flex-direction: column;
    padding: 0px;
  }
  .container{
    padding: 0 20px;

  }
  .SProductSectionHeader{
    top:0
  }
  .containerBorderBottom{
    border:none;
  }
}

 